li {
    font-size: 12px;
}


div {
    display: block;
}

.rect-offenseCount {
    fill: steelblue;
}

.chart text {
    font: 11px sans-serif;
    text-anchor: end;
}

.about {
    font-size: 14px;
	font-family: sans-serif;
}