li {
    font-size: 12px;
}


div {
    display: block;
}

.rect-offenseCount {
    fill: steelblue;
}

.rect-offenseCount:hover {
    fill: lightsteelblue;
}

.chart text {
    font: 11px sans-serif;
    text-anchor: end;
}

.col-xs-3{
  justify-content: flex-end;
  display: flex;
}