li {
    font-size: 12px;
}


div {
    display: block;
}

.rect-offenseCount {
    fill: steelblue;
}

.rect-offenseCount:hover {
    fill: lightsteelblue;
}

.chart text {
    font: 11px sans-serif;
    text-anchor: end;
}

.col-xs-3{
	position:relative;
    width:500px;
    height:100px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
}